<a href="https://colab.research.google.com/github/muhammadirshad89/7854stopwatch/blob/master/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 8
b = 9
print(a+b)

17

In [ ]:
month = int(input('Enter Month in Number'))

if month == 12 or month == 1 or month == 2:
 print ('Winter-Season')
elif month == 3 or month == 4 or month == 5:
 print ('Spring-Season')

elif month == 6 or month == 7 or month == 8:
 print ('Summer-Season')

elif month == 9 or month == 10 or month == 11:
 print ('Autum-Season')
 
else :
 print ('You have Entered a Wrong Number')

Enter Month in Number13
You have Entered a Wrong Number

In [ ]:
age = int(input('enter your age'))

if(age>30):
 print ('Not Accepted')
else:
 print ('Accepted')

In [ ]:
nic = int(input('Enter Your Age'))

if(nic>65):
 print ('Your Cnic has been printed for Lifetime')
else:
 print ('Go to counter 1 and Share your Data to Representative')

Enter Your Age77
Your Cnic has been printed for Lifetime

In [ ]:
x = int(input('Enter Number'))

if(x<10):
 print('single Digit')
else:
 print('Two Digit Number')

Enter Number25
Two Digit Number

In [ ]:
sal = int(input("Enter Your Annual Salary"))

if(sal>600000):
 print ('Your Tax is Due')
else:
 print ('You are Exampted from tax')

Enter Your Annual Salary650000
Your Tax is Due

In [ ]:
print("""press 1 for Addition \n
Press 2 for Substraction \n
Press 3 For Multiplication \n
press 4 For Division""")

u_operator = int(input(""))

number_1 = int(input('Enter First Number'))
number_2 = int(input('Enter Second Number'))

if u_operator ==1:
 add = number_1+number_2
 print (add)
elif u_operator ==2: 
 add = number_1-number_2
 print (add)
elif u_operator ==3: 
 add = number_1*number_2
 print (add)
elif u_operator ==4:
 add = number_1%number_2
 print (add)
else: 
 print ('Your Input was Wrong')

press 1 for Addition

Press 2 for Substraction

Press 3 For Multiplication

press 4 For Division
3
Enter First Number5
Enter Second Number3
15

In [ ]:

password = input ('Enter your password ')

if len(password)>8:
 print('Good to Go')
else:
 print('Password is too short')

Enter your password 123456sdf
Good to Go

In [ ]:
marks = [1, 50, 60, 90,]
marks[2]
marks.append("faraz")
marks.pop(1)
marks

[1, 60, 90, 'faraz']

In [ ]:
friends = ['Ammar', 'Asad', 'Arifeen']

a = input ("Enter a choice \n 1 for adding \n press 2 for deletion")

if a == '1':
 b = input ("Enter the name of your friends")
 friends.append(b)
elif a == '2':
 c = input ("Enter the index no of your friend")
 del friends[int(c)]
else:
 print ("invalid choice")

Enter a choice
 1 for adding
 press 2 for deletion1
Enter the name of your friendsAli

In [ ]:
friends.append ('Saima')

In [ ]:
print (friends)

['Ammar', 'Asad', 'Arifeen', 'Ali']

In [ ]:
#Slice
print(friends[-2:-1])

['Arifeen']

In [ ]:
print(friends)

['Ammar', 'Asad', 'Arifeen', 'Ali', 'Saima']

In [ ]:
nums = list(range(1,101))
print(nums)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [ ]:
nums [4::5]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

In [ ]:
#tuple it is read only function we cannot change anything in this.
point = (10,15)

In [ ]:
for i in point:
 print(i)

10
15

In [ ]:
x,y = point

In [ ]:
x

10

In [ ]:
y

15

In [ ]:
#Loop
for i in range(1,101):
 print(i, end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
for i in range (1,11):
 print( "7 x",i, "=", 7*i )

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [ ]:
table = int(input ("Enter Table :- "))

for i in range (1,11):
 print(table,"X",i,"=",table*i)

Enter Table :- 6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

In [ ]:
for i in range(2,9):
 for h in range(1,11):
  print(i, "x",h, "=", i*h)
 print ()

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [ ]:
def CheckLeap(Year):  
  # Checking if the given year is leap year  
  if((Year % 400 == 0) or  
     (Year % 100 != 0) and  
     (Year % 4 == 0)):   
    print("Given Year is a leap Year");  
  # Else it is not a leap year  
  else:  
    print ("Given Year is not a leap Year")  
# Taking an input year from user  
Year = int(input("Enter the number: "))  
# Printing result  
CheckLeap(Year)

Enter the number: 2024
Given Year is a leap Year

In [ ]:

years = int(input("Enter the number of years"))
g = input ("Have you cleared GRE (yes/no)")
gat = input ("Have you cleared GAT (yes/no)")

if (years>= 18):
 if (g.lower() == 'yes'):
  print ("You are Eligible ")
 elif(gat.lower() == 'yes'):
  print ("Yes you are eligible ")
 else:
  print ("you are not eligible ")
else:
  print ("you are not eligible ")

In [ ]:
sentence= input ("Enter a sentence")
vowel_count = 0
vowels = ['a','e','i','o','u']

for i in sentence:
 if i.lower() in vowels:
  vowel_count += 1
  print (i)

print (vowel_count)

Enter a sentenceA beautiful catchy cat around me
A
e
a
u
i
u
a
a
a
o
u
e
12